
main {
    height: 100vh;
    z-index: 2;
    background-image: url("1x/r.png");
    background-position: center;
  }
  
  img {
    display: block;
    vertical-align: bottom;
  }
  

  
  section,body {
      background: white;
  }
  
  .keyart, .keyart_layer {
    height: 1000px;
  }
  
  #parallax {
    display: block;
  }
  
  .keyart {
    position: relative;
    z-index: -50;
  }
  
  .keyart_layer {
    background-position: bottom center;
    background-size: auto 1038px;
    background-repeat: repeat-x;
    width: 100%;
    position: absolute;
  }
  
  .keyart_layer.parallax {
    position: fixed;
  }
  
  .custom-shape-divider-bottom-1639174433 {
    position: absolute;
    bottom: -100px;
    left: 0;
    width: 100%;
    overflow: hidden;
  }
  
  #keyart-0 {
    background-image: url("1x/sky.png");
  }
  
  #keyart-1 {
    background-image: url("1x/sun.png");
  }
  
  #keyart-2 {
    background-image: url("1x/mountain-right.png");
  }
  
  #keyart-3 {
    background-image: url("1x/mountain-left.png");
  }
  
  
  #keyart-4 {
    background-image: url("1x/ocean.png");
  }
  
  #keyart-5 {
    background-image: url("1x/man.png");
  }
  #keyart-6 {
    background-image: url("1x/man-2.png");
  }
  
  #keyart-7 {
    background-image: url("1x/sand.png");
  }
  
  
  /*
  
  
  
  #keyart-8 {
    background-image: url("http://www.firewatchgame.com/images/parallax/parallax8.png");
  }
   */
  #keyart-scrim {
    background-color: #ffaf00;
    opacity: 0;
  }
  /*
  @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
    #keyart-0 {
      background-image: url("http://www.firewatchgame.com/images/parallax/parallax0@2x.png");
      background-color: #ffaf1b;
    }
  
    #keyart-1 {
      background-image: url("http://www.firewatchgame.com/images/parallax/parallax1@2x.png");
    }
  
    #keyart-2 {
      background-image: url("http://www.firewatchgame.com/images/parallax/parallax2@2x.png");
    }
  
    #keyart-3 {
      background-image: url("http://www.firewatchgame.com/images/parallax/parallax3@2x.png");
    }
  
    #keyart-4 {
      background-image: url("http://www.firewatchgame.com/images/parallax/parallax4@2x.png");
    }
  
    #keyart-5 {
      background-image: url("http://www.firewatchgame.com/images/parallax/parallax5@2x.png");
    }
  
    #keyart-6 {
      background-image: url("http://www.firewatchgame.com/images/parallax/parallax6@2x.png");
    }
  
    #keyart-7 {
      background-image: url("http://www.firewatchgame.com/images/parallax/parallax7@2x.png");
    }
  
    #keyart-8 {
      background-image: url("http://www.firewatchgame.com/images/parallax/parallax8@2x.png");
    }
  } */